.navbar{
  background-color: white;
  opacity: 0.90;
}

.fa{
  font-size:35px;
}

.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
}

.navbar-nav>li.active>a {
  background-color: black;
  color: white;
}

.navbar-nav>li>a:hover {
    text-decoration: none;
    background-color: white;
}

.navbar-nav>li>a:focus {
    text-decoration: none;
    color: white;
    background-color: black;
}