<nav id="mainNav" class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
</button>
        <a class="navbar-brand page-scroll" href="#page-top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li>
            <a class="page-scroll" routerLink="/about">About</a>
          </li>
          <li>
            <a class="page-scroll" href="#services">Skills</a>
          </li>
          <li>
            <a class="page-scroll" routerLink="/portfolio">Portfolio</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">Contact</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="https://www.linkedin.com/in/jnmabry/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://github.com/jnmabry" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://www.behance.net/joshmabry" target="_blank"><i class="fa fa-behance-square" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>