h1 {
  font-size: 8.5em;
  letter-spacing: 10px;
  margin-top: 20px;
  font-family: 'Rubik', sans-serif ;
  letter-spacing: 5px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 110px;
}

h2 {
  font-family: "Roboto Mono";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 5px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

#creative {
  margin-bottom: 24px;
}

h3 {
  font-family: "Roboto Mono";
  font-weight: 300;
  font-size: 1.25em;
  letter-spacing: 1px;
  text-transform: none;
  margin: 20px 80px 30px 80px;
  line-height: 35px;
}

h4 {
  font-size: 3em;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 10px;
  color: black;
  letter-spacing: 2px;
}

h5 {
  font-size: 1.25em;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 10px;
  color: black;
  letter-spacing: 1px;
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 300;
}

.headphones {
  position: absolute;
  bottom: -385px;
  left: 4px;
  z-index: -1;
  width: 750px;
  transform: rotate(50deg);
  transform: scaleX(-1);
}

.coffee-cup {
  position: absolute;
  bottom: -160px;
  right: 84px;
  z-index: -1;
  width: 450px;
  transform: rotate(50deg);
  // transform: scaleX(-1);
}

.my-image{
  background-position: -24px;
  height: 300px;
  width: 300px;
  background-image: url("/assets/bw.jpg");
  background-size: cover;
  border: 2px solid black;
  // -webkit-filter: grayscale(100%) contrast(70%);
  // filter: grayscale(100%);
}

.rokhanna {
  height: 300px;
  width: 300px;
  background-image: url("/assets/rokhanna.jpg");
  background-size: cover;
  border: 2px solid black;
  // -webkit-filter: grayscale(100%) contrast(70%);
  // filter: grayscale(100%);
}

.web-technologies {
  color: black;
  font-size: 40px;
}

.about {
  margin-bottom: 50px;
}