  <header>
    <div class="header-content">
      <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
      <div class="header-content-inner">
        <h2>// JOSHUA MABRY //</h2>
        <div id="homeHeading">
          <h1>Development</h1>
          <h1>& Design</h1>
        </div>
        <h3>I am a polyglot programmer specializing in web development using the <br>
            Angular 2 framework and other web technologies.</h3>
      </div>
      <!--<img class="coffee-cup" src="/assets/coffee-cup.png" alt="">-->
      <img class="headphones" src="/assets/headphones-opt.png" alt="">
    </div>
  </header>

<section class="" id="about">
    <div class="container">
      <div class="about row">
        <div class="col-lg-4 col-xs-12">
          <img class="my-image img-circle" alt="">
        </div>
        <div class="col-lg-8 col-xs-12">
          <h4 class="section-heading">About Me</h4>
          <p> I am a Digital Designer turned Developer, based out of Eastern, KY. In 2011, I began working in the creative field
            as a Graphic Designer. I picked up many valuable skills including a strong understanding of Layout, Typography
            and all of the software that goes along (Adobe Creative Suite). In my spare time, I also began building websites
            for clients. I came to enjoy web development so much that I started working as a developer full-time in 2016.
            The culmination of my creative and technical skills allow me to develop websites and mobile apps from start to
            finish.
          </p>
          <h2><b>Inspirations:</b></h2>
          <h2>
            <a href="http://www.beeple-crap.com/" target="_blank">BEEPLE</a>/
            <a href="http://mcbess.com/" target="_blank">MCBESS</a>/
            <a href="http://www.alexpardee.com/work/" target="_blank">ALEX_PARDEE</a>/
          </h2>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="skill row">
      <div class="col-lg-8 col-xs-12 text-center">
        <h4 class="section-heading"><b>Skills and Software</b></h4>
        <p class="col-md-4">Programming Languages/Frameworks: <br>
          Angular 2, MEAN stack, Wordpress, HMTL5, CSS3, JavaScript, TypeScript, jQuery, Sass, AJAX,
          Bootstrap, Java, Android, XML, npm, Git
        </p>
        <p class="col-md-4">Applications/Platforms: <br>
          Visual Studio Code, Sublime Text 2, Android Studio, Fabric.io, Firebase, Heroku,
          WAMP Server, Core FTP, Postman, JIRA, Adobe Creative Suite, Sketch
        </p>
        <p class="col-md-4">Programming Leadership/Education: <br>
          Workshop Facilitation, Pair Programming, Whiteboard Coding, Scrum Agile Framework,
          CRUD Operations and API consumption
        </p>
        <div class="web-technologies">
          <i style="color: #F7DF1E; font-size: 46px" class="icon-javascript-alt"></i>
          <i style="color: #E44D26" class="icon-html5-alt"></i>
          <i style="color: #0071bc" class="icon-css3-alt"></i>
          <i style="color: #563D7C" class="icon-bootstrap"></i>
          <i style="color: #0868AC" class="icon-jquery"></i>
          <i style="color: #DD0330" class="icon-angular"></i>
          <i style="color: #0868AC" class="icon-wordpress"></i>
          <i style="color: #DE0000; font-size: 45px" class="icon-java-bold"></i>
          <i style="color: #F34F29" class="icon-git"></i>
          <i style="color: #430098" class="icon-heroku"></i>
          <i style="color: #CB3837" class="icon-npm"></i>
          <i style="color: #CD679A" class="icon-sass"></i>
        </div>
        <!--<a target="_blank" href="https://www.codewars.com/users/jnmabry"><img src="https://www.codewars.com/users/jnmabry/badges/large" alt=""></a>-->
      </div>
      <div class="text-center col-lg-4 col-xs-12">
        <img class="img-circle rokhanna">
      </div>
    </div>
    </div>
  </section>
