  <header>
    <div class="header-content">
      <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
      <div class="header-content-inner">
        <h2>// JOSHUA MABRY //</h2>
        <div id="homeHeading">
          <h1>Development</h1>
          <h1>& Design</h1>
        </div>
        <h3>I am a polyglot programmer specializing in front-end development using the Angular framework and other web technologies.</h3>
        <!--<a href="#about" class="page-scroll arrow-down"></a>-->
      </div>
      <!--<img class="coffee-cup" src="/assets/coffee-cup.png" alt="">-->
      <img class="headphones" src="/assets/headphones.png" alt="">
    </div>
  </header>

<section class="" id="about">
    <div class="container">
      <div class=row>
        <div class="col-lg-4 col-xs-12">
          <img class="my-image img-circle" alt="">
        </div>
        <div class="col-lg-8 col-xs-12">
          <h4 class="section-heading">About Me</h4>
          <p> I am a Digital Designer turned Developer, based out of Eastern, KY. In 2011, I began working in the creative field
            as a Graphic Designer. I picked up many valuable skills including a strong understanding of Layout, Typography
            and all of the software that goes along (Adobe Creative Suite). In my spare time, I also began building websites
            for clients. I came to enjoy web development so much that I started working as a developer full-time in 2016.
            The culmination of my creative and technical skills allow me to develop websites and mobile apps from start to
            finish.
          </p>
          <h2><b>Inspirations:</b></h2>
          <h2> BEEPLE/MCBESS/APERFECTMONSTER/ALEX_PARDEE</h2>
        </div>
      </div>
    </div>
  </section>
