<!--FOOTER-->
<div class="text-center footer">
<div class="contact-info">
<ul>
<li><a href="https://www.linkedin.com/in/jnmabry/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
<li><a href="https://github.com/jnmabry" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
<li><a href="https://www.behance.net/joshmabry" target="_blank"><i class="fa fa-behance-square" aria-hidden="true"></i></a></li>
</ul>
</div>
<!--<div class="email-form">
  <div>Login Form</div>
</div>-->
	</div>