<div class="top-banner">
  <div class="heading-text">
    <h3>This is my skills page</h3>
    <h2>These Are My Skills</h2>
  </div>
</div>
  <div class="content container">
    <div class="skill row">
      <div class="text-center col-lg-4 col-xs-12">
        <img class="img-circle" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350" alt="">
      </div>
      <div class="col-lg-8 col-xs-12">
        <h4 class="section-heading"><b>Development</b></h4>
        <p> I am a Digital Designer turned Developer, based out of Eastern, KY. In 2011, I began working in the creative field
          as a Graphic Designer. I picked up many valuable skills including a strong understanding of Layout, Typography
          and all of the software that goes along (Adobe Creative Suite). In my spare time, I also began building websites
          for clients. I came to enjoy web development so much that I started working as a developer full-time in 2016.
          The culmination of my creative and technical skills allow me to develop websites and mobile apps from start to
          finish.
        </p>
        <div class="web-technologies">
          <i style="color: #F7DF1E; font-size: 46px"   class="icon-javascript-alt"></i>
          <i style="color: #E44D26" class="icon-html5-alt"></i>
          <i style="color: #0071bc" class="icon-css3-alt"></i>
          <i style="color: #563D7C" class="icon-bootstrap"></i>
          <i style="color: #0868AC" class="icon-jquery"></i>
          <i style="color: #DD0330" class="icon-angular"></i>
          <i style="color: #DE0000; font-size: 45px" class="icon-java-bold"></i>
          <i style="color: #F34F29" class="icon-git"></i>
          <i style="color: #430098" class="icon-heroku"></i>
          <i style="color: #CB3837" class="icon-npm"></i>
          <i style="color: #CD679A" class="icon-sass"></i>
        </div>
        <!--<h2><b>Inspirations:</b></h2>
        <h2> BEEPLE/MCBESS/APERFECTMONSTER/ALEX_PARDEE</h2>-->
        <a target="_blank" href="https://www.codewars.com/users/jnmabry"><img src="https://www.codewars.com/users/jnmabry/badges/large" alt=""></a>
      </div>
    </div>
    <!--<hr>-->
        <div class="skill row">
                <div class="text-right col-lg-8 col-xs-12">
        <h4 class="section-heading"><b>Design</b></h4>
        <p> I am a Digital Designer turned Developer, based out of Eastern, KY. In 2011, I began working in the creative field
          as a Graphic Designer. I picked up many valuable skills including a strong understanding of Layout, Typography
          and all of the software that goes along (Adobe Creative Suite). In my spare time, I also began building websites
          for clients. I came to enjoy web development so much that I started working as a developer full-time in 2016.
          The culmination of my creative and technical skills allow me to develop websites and mobile apps from start to
          finish.
        </p>
        <!--<h2><b>Inspirations:</b></h2>
        <h2> BEEPLE/MCBESS/APERFECTMONSTER/ALEX_PARDEE</h2>-->
      </div>
      <div class="col-lg-4 col-xs-12">
        <img class="img-circle" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350" alt="">
      </div>
    </div>
        <!--<hr>-->
<div class="skill row">
      <div class="col-lg-4 col-xs-12">
        <img class="img-circle" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350" alt="">
      </div>
      <div class="col-lg-8 col-xs-12">
        <h4 class="section-heading"><b>Programming Leadership/Education</b></h4>
        <p> I am a Digital Designer turned Developer, based out of Eastern, KY. In 2011, I began working in the creative field
          as a Graphic Designer. I picked up many valuable skills including a strong understanding of Layout, Typography
          and all of the software that goes along (Adobe Creative Suite). In my spare time, I also began building websites
          for clients. I came to enjoy web development so much that I started working as a developer full-time in 2016.
          The culmination of my creative and technical skills allow me to develop websites and mobile apps from start to
          finish.
        </p>
        <!--<h2><b>Inspirations:</b></h2>
        <h2> BEEPLE/MCBESS/APERFECTMONSTER/ALEX_PARDEE</h2>-->
      </div>
    </div>    
  </div>