.hero {
  height: 510px;
}

.background {
  background-image: url('/assets/sunset-opt.jpg');
  background-size: cover;
  filter: grayscale(100%) contrast(72%);
  -webkit-filter: grayscale(100%) contrast(60%);
  color: white;
}

@media(min-width:1200px){
  .background {
    background-position-y: -1800px;
    background-size: cover;
  }
}

.heading-text {
  // top: 70px;
  // position: absolute;
  color: white;
  margin-top: -410px;
  margin-bottom: 203px;
}

.detail-body {
  margin-top: 40px;
}

.weatherly{
  background-size: cover;
  background-image: url('/assets/weatherly-flat.png');
  height: 380px;
}

.maply{
  background-size: cover;
  background-image: url('/assets/maply-flat.png');
  height: 380px;
}