<div class="background">
    <div class="hero">
    </div>
</div>
<div class="container heading-text">
  <div class="row">
    <div class="col-md-6">
  <h2>// Weather.ly</h2>
  <h2>Map.ly //</h2>
  <h3>Some sub-heading text</h3>
  </div>
  </div>
</div>
<div class="container detail-body">
  <div class="row first-row">
    <div class="col-md-6">
      <h3><b>WEATHER.LY</b></h3>
<p>Weather.ly was one of the first projects introduced during the web education portion of the TEKY1 program. It required calling two separate APIs using AJAX, and DOM manipulation using jQuery. The app requires the user to input a zipcode in order to retrieve the local weather for any given area. An API call is first made in order to retrieve the latitude and longitude for the given zipcode, then a second call is made to retrieve the weather using that information. The data recieved is then used to build an html template that is appended to the DOM and shown to the user via the apps UI.</p>
<ul>
  <li>This is the first Bullet Point</li>
  <li>This is the Second Bullet Point</li>
  <li>This is the Third Bullet Point</li>
  <li>This is the Fourth Bullet Point</li>
  <li>This is the Fifth Bullet Point</li>
</ul>
</div>
<div class="weatherly col-md-6"></div>
</div>
  <div class="row second-row">
    <div class="maply col-md-6"></div>
    <div class="col-md-6">
      <h3><b>MAP.LY</b></h3>
<p>Map.ly picked up where Weather.ly left off. This project had many of the same requirements as Weather.ly, but incorporated the Google Maps API instead. The challenge was to reuse the same code written for Map.ly but to integrate the maps service within the cards displayed on the UI.</p>
<ul>
  <li>This is the first Bullet Point</li>
  <li>This is the Second Bullet Point</li>
  <li>This is the Third Bullet Point</li>
  <li>This is the Fourth Bullet Point</li>
  <li>This is the Fifth Bullet Point</li>
</ul>
</div>
</div>
</div>