<div class="background">
    <div class="container hero">
      <div class="row heading-text">
        <h2>Hike It</h2>
        <h3>These Are Cool Projects</h3>
      </div>
    </div>
</div>
<div class="container detail-body">
  <div class="row first-row">
    <div class="col-md-6">
      <h3><b>Heading Here</b></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eros augue, fermentum at fringilla eu, ultricies vel dolor. Integer in felis odio. Ut elementum facilisis mi, placerat tempor enim elementum sed. Quisque vel nisi metus. Proin eu ligula nec felis ornare egestas sed ut lorem. In hac habitasse platea dictumst. Duis efficitur porttitor vehicula. Suspendisse ut commodo massa.</p>
<ul>
  <li>This is the first Bullet Point</li>
    <li>This is the Second Bullet Point</li>
  <li>This is the Third Bullet Point</li>
  <li>This is the Fourth Bullet Point</li>
  <li>This is the Fifth Bullet Point</li>

</ul>
</div>
<div class="phone col-md-6"></div>
</div>
</div>