<div class="background">
    <div class="container hero">
      <div class="row heading-text">
        <h2>HUG</h2>
        <h3 class="col-md-6">The Help Us Grow reading program is designed to help raise literacy rates for struggling grade school children. The HUG web application is a content manangement system and entry poin for all program related data.</h3>
      </div>
    </div>
</div>
<div class="container detail-body">
  <div class="row first-row">
    <div class="col-md-6">
      <h3><b>CRUD Operations and API Consumption</b></h3>
<p>I was given the task of implementing all CRUD Operations and API consumption via the web portal using Angular 2's http module. All raw json data recieved from a Ruby on Rails backend was converted over to custom objects via an Angular 2 object model. This allowed for stronger typed code and less overall technical debt</p>
<ul>
  <li>This is the first Bullet Point</li>
  <li>This is the Second Bullet Point</li>
  <li>This is the Third Bullet Point</li>
  <li>This is the Fourth Bullet Point</li>
  <li>This is the Fifth Bullet Point</li>
</ul>
</div>
<div class="phone col-md-6"></div>
</div>
  <div class="row first-row">
    <div class="col-md-6">
      <h3><b>Create/Update Data Components</b></h3>
<p>Using designs served via Zeplin, I developed all screens related to creating and updated hug program related data. Reactive Forms and Validation were both required to make all PUT and POST API calls</p>
<ul>
  <li>This is the first Bullet Point</li>
  <li>This is the Second Bullet Point</li>
  <li>This is the Third Bullet Point</li>
  <li>This is the Fourth Bullet Point</li>
  <li>This is the Fifth Bullet Point</li>
</ul>
</div>
<div class="phone col-md-6"></div>
</div>
</div>